@import "tailwindcss";

/* Custom credit card styles */
.credit-card {
    background: linear-gradient(110deg, #2563eb, #4338ca);
    border-radius: 1rem;
    color: white;
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 220px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.6s;
}

.credit-card-gold {
    background: linear-gradient(110deg, #d97706, #b45309);
}

.bg-gradient-custom {
    background: linear-gradient(90deg, #44bcff, #ff44ec, #ff675e);
}
